<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="bang"> 
        <h1>Counter</h1>
        <p> {{session ['count']}} </p>
        <a href="http://localhost:5000/"><button>Add 2</button></a>
    </br>
        <a class="reset" href="http://localhost:5000/destroy_session"><button>Reset</button></a>
    </div>

</body>
</html>